.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.gradle/
android/local.properties
android/key.properties
android/app/google-services.json
ios/Flutter/Generated.xcconfig
ios/Podfile.lock
ios/Pods/
